body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}

/* Global Styling */

.container {
  width: 90%;
  margin: auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("bgImage.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header h1 {
  font-size: 5rem;
  font-weight: lighter;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 2px;
  animation: moveInRight 1s linear;
}

header h4 {
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 5px;
  text-transform: uppercase;
  animation: moveInLeft 1s linear;
}

  .btn {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  border: solid 3px #fed766;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  font-weight: 200;
  text-align: center;
  transition: .4s all ease;
  display: inline-block;
  text-transform: uppercase;

}

header .btn:hover {
  color: #000;
  padding: 1rem 3rem;
  background-color: #fed766;
}

.section-a {
  margin-top: 100px;
  animation: moveInLeft .5s 2s linear;
}

section h2 {
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
}

.icon {
  font-size: 5rem;
  color: #fed766;
}

.boxes .box {
  width: 25%;
  float: left;
  padding: 2rem;
  text-align: center;
}

.boxes p {
  letter-spacing: 2px;
  color: #737373;
}

.boxes .wordpres {
  color: #4e7386;
}

.boxes .css {
  color: #2f8aff;
}

.boxes .gamepad {
  color: #ff4c4c;
}



.items .item {
  width: 30%;
  padding: 2rem;
  color: #333;
  float: left;
  font-size: 1.5rem;
}

.items img {
  width: 100%;
}

.items p {
  float: left;
  margin-top: 30px;
  font-size: 1.5rem;
}

.grey-text {
  color: grey;
}

.items::after {
  content: "";
  display: block;
  clear: both;
}

.content-area {
  background-color: #fed766;
  color: #000;
  padding: 5rem;
  text-align: center;
}

.content-area h3{
    font-size: 2.5rem;
    margin: 5px;
    font-weight: lighter;
}

.content-area p {
  font-size: 1.7rem;
}

.content-area .btn-dark-borders {
  border: solid 3px #000;
  color: #000;
}

.content-area .btn-dark-borders:hover {
  padding: 1rem 3rem;
  background-color: #000;
  color: #fed766;
}

footer {
  padding: 5rem;
  background-color: #252a30;
  color: #fff;
  text-align: center;
}

footer p, footer .icon {
    font-size: 1rem;
    font-weight: bold;
    color: #ddd;
    opacity: .7;
}

footer .icon {
  margin: 10px 15px;
  font-size: 1.5rem;
}

footer .icon:hover {
color: #fff;
opacity: 1;
}

/* Animations */

/* Animation for moving elements to the right */

@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

/* Animation for moving elements to the left */

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}


/* Animation for moving the button from bottom to top */

@keyframes animatedButton {
  0% {
    margin-top: 100x;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

/* Media queries for screen sizes below 855 */


@media(max-width: 855px) {
  header {
    text-align: center;
  }
  .boxes .box, .items .item, .items p {
    float: none;
    margin: 10px auto;
    width: 100%;
  }

  .section-b, .section-c, .section-d{
      text-align: center;
  }
}
